.main-layout {
    min-height: 100vh;
    background-color: var(--bg-color);
}

.content-wrapper {
    display: flex;
    padding-top: var(--header-height);
}

.main-content {
    margin-left: var(--sidebar-width);
    flex: 1;
    padding: 30px;
    min-height: calc(100vh - var(--header-height));
}